body {
  color: #333;
  font-size: 20pt;
}

h1 {
  margin-top: 30px;
  display: block;
  width: 500px;
  font-size: 32pt;
  color: #bbb;
}

h2 {
  margin: 0;
}

h3 {
  border-left: #d00 7px solid;
  padding-left: 5px;
}

li {
  list-style-type: none;
  float: left;
  padding: 5px;
}

footer {
  font-size: 15pt;
  width: 300px;
  margin: 50px auto 0;
  text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #bbb;
  text-decoration: none;
}

.description {
  display: block;
  width: 500px;
  font-size: 15pt;
  border-bottom: 2px #bbb solid;
  padding-bottom: 10px;

}
.refresh {
  background-color: #fff;
  font-size: 15pt;
  position: fixed;
  top: 3px;
  right: 3px;
}
.refresh p {
  margin: 0;
}
.courtInfo {
  width: 500px;
  margin: 0 40px 30px 20px;
}
.fullReserved{
  color: #bbb;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
