h1 {
  font-size: 40pt;
  color: #bbb;
}

h2 {
  font-size: 20pt;
  color: #bbb;
}

h3 {
  font-size: 15pt;
  color: #bbb;
  border-left: #d00 7px solid;
  padding-left: 5px;
}

li {
  color: #111;
  list-style-type: none;
  float: left;
  padding: 5px;
}

.description {
  display: block;
  color: #bbb;
  font-size: 15pt;
  border-bottom: 2px #bbb solid;
  padding-bottom: 10px;

}
.refreshButton {
  position: absolute;
  top: 30px;
  right: 30px;

}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
