body {
  color: #333;
}

h1 {
  font-size: 40pt;
  color: #bbb;
}

h2 {
  font-size: 20pt;
  margin: 0;
}

h3 {
  font-size: 15pt;
  border-left: #d00 7px solid;
  padding-left: 5px;
}

li {
  list-style-type: none;
  float: left;
  padding: 5px;
}

.description {
  display: block;
  font-size: 15pt;
  border-bottom: 2px #bbb solid;
  padding-bottom: 10px;

}
.refresh {
  background-color: #fff;
  position: fixed;
  top: 30px;
  right: 30px;

}
.courtInfo {
  margin: 0 40px 30px 20px;
}
.fullReserved{
  color: #bbb;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
